#rootView{
  padding: 5px;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

#postViewArea{
  flex-direction: row;
  height: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#postViewLeft{
  width: 52px;
  margin-right: 5px;
  flex-direction: column;
}

#postViewRight{
  flex-grow: 3;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

#postViewRightTop{
  flex-direction: row;
  flex-grow: 0;
}

#postViewIconLabel{
}

#postViewUserFlagLabel{
  /*align-self: stretch*/
  margin-top: 4px;
}

#postViewUserNameLabel{
  flex-grow: 1;
  align-self: flex-start;
  height: 14px;
}

#postViewDateLabel{
  flex-grow: 0;
  width: 124px;
  height: 12px;
  align-self: flex-start;
}

#postViewBodyLabel{
  flex-grow: 2;
}

#timeline{
  flex-grow: 2;
}

#timeline_widget{
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-end;
  background-color: #fff;
}

#postArea{
  height: 70px;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

#postTextInput{
  align-self: stretch;
  flex-grow: 2;
}

#postButton{
  width: 50px;
  margin-left: 4px;
  top: 0;
  bottom: 0;
}

Label{
  max-width: 100%;
}

#statusLabel{
  height: 14px;
}

