#rootView{
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

#postArea{
  height: 70px;
  flex-direction: row;
  margin-bottom: 5px;
}

#postTextInput{
  align-self: stretch;
  flex-grow: 2;
}

#postButton{
  width: 50px;
  margin-left: 4px;
  top: 0;
  bottom: 0;
}

Label{
  max-width: 100%;
}

#statusLabel{
}

#timeline{
  flex-grow: 2;
}

#timeline_widget{
  flex-direction: column-reverse;
}
