#rootView{
  padding: 5px;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

/* PostView */


#postViewArea{
  height: 120px;
}

/* timeline(tabWidget)*/

#timelineBox{
  flex-grow: 2;
}

/* timeline(timeline Class) */

#timeline_widget{
}

/* postbox */
#postArea{
  height: 86px;
}

/* status label */
#statusLabel{
  height: 14px;
}

